.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
  border-bottom: 1px solid darkgrey;
}

.nav {
  display: flex;
}
.nav-logo img {
  max-width: 40%;
}

.nav-item {
  width: 100px;
  padding: 2 1em;
  border: 0.5px solid black;
  min-width: 60px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.nav-item:hover {
  background: black;
  color: white;
}
.greetings {
  padding-top: 2em;
  padding-left: 5em;
}
.banner {
  background-image: url(../assets/y.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.headquater {
  padding: 3em;
}
.circle {
  height: 100px;
  width: 100px;
  border: 1px solid;
  border-radius: 50%;
}
.hq-items {
  padding: 2em 5em;
  display: flex;
  justify-content: space-around;
}

.text-footer {
  color: grey;
  font-size: small;
}

/* cssresponsive */

/* ... Gaya CSS lainnya ... */

.toggle-button {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  height: 2px;
  width: 25px;
  background-color: black;
  margin: 3px 0;
}

@media screen and (max-width: 600px) {
  .toggle-button {
    display: flex;
  }

  .nav {
    display: none;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
  }

  .nav.active {
    display: flex;
  }
}
